/* FONT-FACE  */
@font-face {
    font-family: "Poppins";
    src: url("../fons/") format("woff2"),
        url("../fons/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fons/Poppins-Bold.woff2") format("woff2"),
        url("../fons/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"),
        url("../fonts/Poppins-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}


/* CUSTOM-PROPS  */
:root {
    --font-family: "Poppins", "Arial", sans-serif;
    --accent-color-bg: #eff1f7;
    --button-color: #2bd0d0;
    --button-color-opacity: #9ae3e3;
    --eror-color: #f46363;
    --heading-color: #34313d;
    --text-color: #9e9aa8;
    --light-bg: #eff1f7;
    --dark: #232127;
    --white: #fff;
}


/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-color);
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

*:focus {
    outline: 2px dashed var(--button-color);
    outline-offset: 3px;
}


/* AUTOFILL-STYLES  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


/* PLACEHOLDER-STYLES  */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgba(52, 49, 61, 0.5);
    opacity: 1;
}


/* CONTAINER  */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/* BUTTON  */
.button {
    display: inline-block;
    border-radius: 28px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--white);
    background-color: var(--button-color);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    background-color: var(--button-color-opacity);
}

.button:active {
    opacity: 0.6;
}

.button-small {
    padding: 8px 24px;
    font-size: 15px;
    line-height: 22.5px;
}

.button-big {
    padding: 14px 40px;
}

.button-rectangle {
    padding: 10px;
    border-radius: 5px;
}

.button-rectangle-big {
    padding: 18px 40px 12px;
    border-radius: 10px;
}

.copy-button {
    min-width: 103px;
}

.copy-button--copied {
    background-color: #3a3054;
}


/* SITE-MAIN  */
.site-main {
    flex-grow: 1;
}


/* SITE-HEADER  */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--white);
    font-weight: bold;
    line-height: normal;
}

.site-header__container {
    display: flex;
    align-items: center;
}


/* LOGO  */
.site-header-logo {
    margin-right: 50px;
}

.logo {
    display: inline-block;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 120px;
    height: 33px;
    object-fit: contain;
}


/* NAVBAR  */
.site-header__sitenav {
    margin-right: auto;
}

.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.stenav__link {
    display: block;
    color: var(--text-color);
}

.stenav__link:hover {
    color: var(--heading-color);
}

.stenav__link:active {
    opacity: 0.6;
}

.site-header__link {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.site-header__login-link {
    margin-right: 37px;
    color: var(--text-color);
}

.site-header__login-link:hover {
    color: var(--heading-color);
}

.site-header__login-link:active {
    opacity: 0.6;
}


/* HERO  */
.hero {
    padding-top: 92px;
    padding-bottom: 222px;
    background-image: url(../img/hero-bg.svg);
    background-repeat: no-repeat;
    background-position: left calc(50% + 460px) top 30px;
}

.hero__content {
    max-width: 565px;
}

.hero__heading {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: var(--heading-color);
}

.hero__text {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 36px;
}


/* FEATURE-WRAPPER  */
.feature-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--light-bg);
}

.feature__wrapper-form {
    margin-top: -84px;
    margin-bottom: 120px;
}


/* FORM  */
.form {
    display: flex;
    padding: 48px 64px;
    margin-bottom: 24px;
    border-radius: 10px;
    background-color: #4b3f6b;
    background-image: url(../img/feature-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form__input-wrapper {
    position: relative;
    display: flex;
    flex-grow: 1;
    margin-right: 24px;
    flex-direction: column;
}

.input {
    flex-grow: 1;
    display: block;
    padding: 14px 30px;
    width: 100%;
    max-width: 755px;
    border: 3px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    line-height: 36px;
    color: var(--heading-color);
}

.form__error-msg {
    display: none;
}

.input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--eror-color);
    color: var(--eror-color);
}

.input:not(:focus):not(:placeholder-shown):invalid~.form__error-msg {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-style: italic;
    color: var(--eror-color);
    letter-spacing: 0.11px;
}


/* URL-SHORTENER-RESULTS  */
.url-shortener-results {
    display: none;
    font-size: 20px;
    line-height: 36px;
}

.url-shortener-results--open {
    display: block;
}

.url-shortener-result {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-radius: 5px;
    color: var(--heading-color);
    background-color: var(--white);
}

.url-shortener-result:not(:last-child) {
    margin-bottom: 16px;
}

.url-shortener-orginal-link {
    width: 100%;
    margin-right: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.url-shortener-short-link {
    margin-right: 24px;
    color: var(--button-color);
}


/* INDEX-FEATURES  */
.index-features {
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: var(--light-bg);
}

.index-features__top {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
}

.index-features__heading {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 48px;
    color: var(--heading-color);
}

.index-features__text {
    margin-top: 0;
    font-size: 18px;
    line-height: 32px;
}

.index-features__list {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.index-features__list::before {
    position: absolute;
    left: 0;
    top: 152px;
    z-index: -1;
    width: 100%;
    height: 8px;
    background-color: var(--button-color);
    content: "";
}

.index-features__item {
    width: 350px;
}

.index-features__item:not(:last-child) {
    margin-right: 30px;
}

.index-features__item:nth-child(2) {
    margin-top: 44px;
}

.index-features__item:nth-child(3) {
    margin-top: 88px;
}


/* INDEX-FEATURE  */
.index-feature {
    position: relative;
    padding: 77px 32px 40px;
    border-radius: 5px;
    background-color: var(--white);
}

.index-feaure__icon-wrapper {
    position: absolute;
    left: 32px;
    top: -44px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #3a3054;
}

.index-feature__icon {
    width: 48px;
    height: 48px;
}

.index-features__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: normal;
    color: var(--heading-color);
    text-transform: capitalize;
}

.index-features__text {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
}


/* CTA  */
.cta {
    padding-top: 57px;
    padding-bottom: 57px;
    background-image: url(../img/cta-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-align: center;
}

.cta__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: center;
}


/* SITE-FOOTER  */
.site-footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #232127;
}

.site-footer__container {
    display: flex;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
    margin-right: 261px;
}

.footer-logo__img {
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 33px;
}


/* WRAPPER  */
.footer-wrapper {
    display: flex;
    align-self: start;
}

.footer__sitenav__title {
    margin-top: 0;
    margin-bottom: 22px;
    margin-right: 101px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: var(--white);
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.234375px;
    color: #BFBFBF;
}

.footer__link:hover {
    color: var(--button-color);
}

.footer__link:active {
    opacity: 0.6;
}


/* INNER  */
.inner__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-inner__item:not(:last-child) {
    margin-right: 24px;
}

.footer-inner__link {
    display: flex;
}

.footer-inner__img {
    width: 24px;
    height: 24px;
}

.footer-inner__twitter-img {
    width: 24px;
    height: 19px;
}